.cabecalho{
    background-color: #bbbbbb;
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.menu__navegacao__item{
    display: inline;
    margin-left: 15px;  
    margin-bottom: 15px;  
}
.menu__navegacao__link{
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}
.menu__navegacao__link:hover{
    color: #c78c19;
    text-decoration: underline;
}
@media screen and (max-width: 940px){
   
    .menu__navegacao__lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .menu__navegacao{
        position: static;
        text-align: center;
        margin-right: 0px ;
    }
}