@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

header{
    background-color: rgb(112, 112, 112);
}
body{
    font-family: 'Montserrat', sans-serif;
}
.caixa{
    
    position: relative;
    width: 940px;
    margin: 0px auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 110px;
}
nav > ul > li{
    display: inline;
    margin-right: 15px;
} 
nav > ul > li > a{
    text-transform: uppercase;
    color: black;
    font-size: 22px;
    text-decoration: none; 
    font-weight: bold;   
}
li > a:hover{
    color: #c78c19;
    text-decoration: underline;
}
main{
    width: 940px;
    margin: 0px auto;
}
form{
    margin: 40px 0px;
}
.input-padrao{
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}
label{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
form > fieldset > legend{
    font-size: 20px;
    margin-bottom: 10px;
}
.checkbox{
    margin: 20px 0px;
    font-size: 20px;
}
.enviar{
   width: 35%;
   padding: 15px 0px; 
   background-color: #c78c19;
   color: white;
   font-weight: bold;
   font-size: 18px;
   border: none;
   border-radius: 5px;
   transition: 1s all;
   cursor: pointer;
}
.enviar:hover{
    background-color: orange ;
    transform: scale(1.2);
}
table{
    margin: 20px 0px;
}
thead{
    background-color: #555555;
    color: white;
    font-weight: bold;
    padding: 3px;
}
td, th{
    border: 1px solid black;
    padding: 7px 14px;
}
footer{
    background-image: url("../imagens/bg.jpg");
    text-align: center; 
    padding: 20px 0px;
}
footer > p{
    color: rgb(255, 255, 255);
    font-size: 13px;
    margin-top: 5px ;
}

@media (max-width: 960px) {
    .caixa{
        width: auto;
        text-align: center;
    }
    main{
        width: auto;
        margin-left: 15px ;
    }
    nav{
        position: static;
    }
    #mensagem{
           width: auto;
    }

}
