.lista__produto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}
.produto{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 250px;
    border:2px solid black;
    border-radius: 10px;
    box-sizing: border-box; 
    padding: 30px 20px;
    transition: 0.3s;
    text-align: center;
}

.produto:hover{
    border-color: #c78c19;
}
.produto:active{
    border-color: #50c719;
    
}
.produto__titulo{
    font-size: 1.5em;
    font-weight: bold;
}
.produto:hover .produto__titulo{
    font-size: 1.9em;
}
.produto__descricao{
    height: 60px;
    font-size: 18px;
}
.produto__preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
@media screen and (max-width: 940px) {
    .produto{
        flex-wrap: wrap;
        width: auto;
        margin: 10px 10%;
        
    }
    .lista__produto{
        flex-direction: column;
    }
}