.titulo__cabecalho{
    margin-left: 20px;
}
.banner{
    width: 100vw;
}
.container__sobre{
    background-color: #fefefe;
    padding: 30px;
}
.utencilios{
    width: 150px;
    float: left;
    margin: 0px 20px 20px 0px;
}
.sobre__paragrafo{
    text-align: center;
}
.missao{
    font-style: italic;
}
.missao__frase{
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.container__mapa{
    padding: 3em 0px;
    text-align: center;
    background: linear-gradient(#fefefe,#888888);
}
.mapa__paragrafo{
    margin-bottom: 2em;
}
.mapa{
    width: 940px;
    margin: 0px auto;
}
.container__beneficios{
    background-color: #888888;
    padding: 3em 0px;
}
.beneficios{
    width: 640px;
    margin: 0px auto;
}
.beneficios__lista{
    display: inline-block;
    vertical-align: top;
    width: 40%;
    
}
.beneficios__itens{
    line-height: 1.5;
}
.beneficios__itens:first-child{
    font-weight: bold;
}
.beneficios__itens::before{
    content: "★";
}
.banner__beneficios{
    width: 60%;
    transition: 400ms;
    box-shadow: 1px 1px 10px black;
}
.banner__beneficios:hover{
    opacity: 0.30;
}
.video{
    width: 560px;
    margin: 2em auto;
}
@media screen and (max-width: 940px){
    .mapa,.video,.beneficios{
        width: auto;
    } 
    .video{
        padding: 0px 30px;  
    }
    .sobre__paragrafo{
        text-align: left;
        line-height: 1.2;
    }
    .beneficios__lista,.banner__beneficios{
        width: 100vw;
    }
}